footer {
    background: black;
    padding: 50px 0;
}

footer .block {
    display: flex;
    justify-content: space-between;
}

footer .block .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

footer .block p {
    width: 300px;
    margin: 15px 0;
}

footer .block h4 {
    font-size: 17px;
    font-weight: 500;
}

footer .block ul {
    list-style: none;
}

footer .block ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: gray;
}

footer > p {
    text-align: center;
}